<!DOCTYPE html>
<html>
<head>
  <title>Get informed</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to 'New Business', new_business_path %> |
    <%= link_to 'Business Listings', businesses_path %>  |
    <% if current_user %>
      <%= link_to "Log Out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_person_path %>  |
      <%= link_to "Log In", new_session_path %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
